
.c1{
    background: #110ebb00;
    width: 100%;
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
    margin-bottom: 70px;

}



.cont_prin{
    
    background:#110ebb;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: space-between;
}
.producto{
    background-image: radial-gradient(circle, #f2f2f2, #e2e9f8, #c5e3fd, #9cdffa, #6cdced, #6cdced, #6cdced, #6cdced, #9cdffa, #c5e3fd, #e2e9f8, #f2f2f2);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Fredoka One', cursive;
    line-height: 1.8;
    text-align: center;

}
.producto__titulo{
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    padding: 30px;

}


.card--prod1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: rgba(33, 127, 215, 0.558);
    border-radius: 25px;
    color: #2b2b2b;
    margin: 15px;

}
.card--prod2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: rgba(33, 127, 215, 0.558);
    border-radius: 25px;
    color: #2b2b2b;
    margin: 15px;
}
.card--prod3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 550px;
    background-color: rgba(33, 127, 215, 0.558);
    border-radius: 25px;
    color: #2b2b2b;
    margin: 15px;
}
.elemento__figura--imagen{
    width: 300px;
    height: 400px;
}
.elemento__figura--imagen2{
    width: 300px;
    height: 400px;
}

.elemento__figura--imagen3{
    width: 300px;
    height: 350px;
}
.card__titulo{
    color: #fc32cd;
    font-family: 'Fredoka One', cursive;
    font-size: 1.25rem;
    padding: 15px;
}
.card__contenido{
    padding: 10px;
}
.card__precio{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card__desc{
    font-size: 18px;
}
.card__boton{
    background-color: rgb(93, 136, 145);
}





