.elemento{display: flex;
    background-image: linear-gradient(to right top, #f2f2f2, #e2e9f8, #c5e3fd, #9cdffa, #6cdced, #6cdced, #6cdced, #6cdced, #9cdffa, #c5e3fd, #e2e9f8, #f2f2f2);
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.elemento__titulo{
    color: rgb(49, 49, 49);
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.elemento__figura{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}
.elemento__figura--imagen0{
    width: 500px;
    height: 550px;
   margin: 50px;
    margin-bottom: 1rem;
   


}
.elemento__figura--texto{
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.8;
    color: #fc32cd;
    margin-right: 30px;
    text-align: center;
}
.elemento__boton{
    font-family: 'Montserrat',sans-serif;
    color:#fc32cd;
    background-color: #ffffff54;
    border-radius: 25px;
    border-color: 5px solid #e60909;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-around;
}
.img_perfil{
    width: 50px;
    height: 50px;
}


