@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #000000;
    --color-secundaria: #F6F6F6;
    --color-terciaria: #2ff707;
    --color-hover: #272727;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.header {
    padding: 2% 0% 0% 5%;
}

.header__menu {
    display: flex;
    gap: 40px;
}

.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    color: var(--color-terciaria);
    font-weight: 800;
    text-decoration: none;
}

.presentacion {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion__contenido__titulo {
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciaria);
}

.presentacion__contenido__texto {
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;

}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.presentacion__enlaces__subtitulo {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link {
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 2px solid var(--color-terciaria);
    width: 50%;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    color: var(--color-secundaria);
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    padding: 15px;

}

.presentacion__enlaces__link:hover {
    background-color: var(--color-hover);
}

.presentacion__imagen {
    width: 50%;
}

.footer {
    color: var(--color-primaria);
    background-color: var(--color-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

/*Celulares*/
@media (max-width: 600px){
    body {
        background-color: rgb(0, 0, 0);
    }

    .header__menu__link {

        font-size: 1rem;
        text-decoration: none;
    }

    .presentacion {
        padding: 5% 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .presentacion__contenido {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        align-items: center;
        text-align: center;
    }

    .presentacion__contenido__titulo {
        font-size: 1.2rem;
    }

    .titulo-destaque {

        font-size: 1.4rem;
    }

    .presentacion__contenido__texto {

        font-size: 1rem;

    }

    .presentacion__enlaces {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .presentacion__enlaces__subtitulo {
        font-family: var(--fuente-krona);
        font-size: 1.2rem;
        font-weight: 400;
        margin-right: 40px;
        margin-left: 40px;
    }

    .presentacion__enlaces__link {
        display: flex;
        justify-content: center;
        gap: 15px;
        border: 1px solid var(--color-terciaria);
        width: 25%;
        height: 15px;
        text-decoration: none;
        
        text-align: center;
        font-size: 0.8rem;
        padding: 10px;
        margin-top: 20px;
        margin-left: 25px;

    }



    .footer {

        font-size: 0.8rem;
        font-weight: 100;
    }
}

/* Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .header__menu__link {

        font-size: 1.2rem;
    }

    .presentacion {
        padding: 5% 5%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    .presentacion__contenido {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
        align-items: center;
    }

    .presentacion__contenido__titulo {
        font-size: 1.4rem;
    }

    .titulo-destaque {

        font-size: 1.6rem;
    }

    .presentacion__contenido__texto {

        font-size: 1.2rem;

    }

    .presentacion__enlaces {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .presentacion__enlaces__subtitulo {
        font-family: var(--fuente-krona);
        font-size: 1.3rem;
        font-weight: 100;
        margin-right: 180px;
        margin-left: 180px;
    }

    .presentacion__enlaces__link {
        display: flex;
        justify-content: center;
        gap: 15px;
        border: 1px solid var(--color-terciaria);
        width: 20%;
        height: 20px;
        text-decoration: none;
        
        text-align: center;
        font-size: 1rem;
        padding: 13px;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;

    }



    .footer {

        font-size: 1rem;
        font-weight: 100;
    }
}

.projects-section1{
    background: #0057b300;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects-title{
    font-size: 2.5rem;
    font-family: var(--fuente-montserrat);
}

.proyectos {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proyectos__titulo {
    font-size: 2rem;
    font-family: var(--fuente-krona);
    color: #000000; 
}



.proyectos__btn {
    background-color:var(--color-terciaria); 
    color: #6e6060;
    border: none;
    padding: 10px 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    width: 180px;
}



.proyectos__btn:hover {
    background-color: var(--color-hover);
}

.proyectos__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proyectos__card {
    background-color: #ffffff8e; 
    border: 2px solid var(--color-terciaria);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}



.proyectos__card img {
    width: 100%;
    max-width: 260px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.proyectos__card h3 {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    color: #000000; 
    margin-bottom: 10px;
}

body.dark-mode .proyectos__card h3 {
    color: var(--color-secundaria);
}

.proyectos__card p {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    color: #000000; 
    margin-bottom: 10px;
}

body.dark-mode .proyectos__card p {
    color: var(--color-secundaria);
}

.proyectos__card .delete-btn {
    background-color: #000000; 
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-family: var(--fuente-montserrat);
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.proyectos__card .delete-btn:hover {
    background-color: #4d4a4a;
}

.proyectos__card .share-btn {
    background-color: #14b63f; 
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    font-family: var(--fuente-montserrat);
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
}



.proyectos__card .share-btn:hover {
    background-color: #048325;
}


.proyectos__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.proyectos__form {
    background-color: #ffffff88; 
    padding: 20px;
    border: 2px solid var(--color-terciaria);
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.proyectos__form label {
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    color: #000000; 
    display: block;
    margin-bottom: 5px;
}

body.dark-mode .proyectos__form label {
    color: var(--color-secundaria);
}

.proyectos__form input,
.proyectos__form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--color-terciaria);
    border-radius: 5px;
    font-family: var(--fuente-montserrat);
    box-sizing: border-box;
}

body.dark-mode .proyectos__form input,
body.dark-mode .proyectos__form textarea {
    border-color: var(--color-terciaria);
    background-color: #444444;
    color: var(--color-secundaria);
}

.proyectos__form button {
    background-color: var(--color-terciaria); 
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

body.dark-mode .proyectos__form button {
    background-color: var(--color-terciaria);
}

.proyectos__form button:hover {
    background-color: var(--color-hover);
}

/* Responsividad */
@media (max-width: 600px) {
    .proyectos {
        padding: 5% 5%;
    }

    .proyectos__titulo {
        font-size: 1.2rem;
    }

    .proyectos__card {
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .proyectos {
        padding: 5% 5%;
    }

    .proyectos__titulo {
        font-size: 1.4rem;
    }

    .proyectos__card {
        width: 45%;
    }
}
   


